
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <div class="box-title">
                            <h4>Add Category</h4>
                        </div>
                    </div>
                    <div class="box-body">
                        <form action="/Admin/Category/Create" method="post" role="form">
                            <div class="form-group">
                                <label for="Name">Category Name</label>
                                <input type="text" name="Name" class="form-control" placeholder="Category Name" />
                            </div>
                            <div class="form-group" style="float:right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer">
                        <a href="/Admin/Category/List" class="btn btn-block btn-warning">Back To List</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

